/* my porfolio */
body {
  color: #424242;
}

h1 {
  font-size: 32px;
  line-height: 180%;
  font-weight: bolder;
}

h2 {
  font-size: 24px;
  line-height: 180%;
  font-weight: 300;
}

p {
  font-size: 16px;
  line-height: 180%;
  font-weight: normal;
}

strong {
  font-size: 16px;
  line-height: 180%;
  font-weight: bold;
}

small {
  font-size: 14px;
  line-height: 180%;
  font-weight: regular;
}

header {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
header * {
  flex-grow: 1;
}
header .brand h1 {
  font-size: 24px;
}
header .brand p {
  font-size: 16px;
  color: #595959;
}
header nav ul {
  display: flex;
  justify-content: flex-end;
}
header nav ul li {
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 2rem;
}
header nav ul li a {
  font-size: 16px;
  font-weight: regular;
}

main .welcome-cover {
  border-radius: 12px;
  background-color: #FFE77D;
  padding: 6rem 6rem;
}
main .welcome-cover h1, main .welcome-cover h2 {
  max-width: 45%;
}

a:link {
  text-decoration: none;
  color: #424242;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #CF4D6F;
  transition: color 0.2s ease-in-out;
}

a:active {
  text-decoration: none;
  color: #FF4141;
}

/* Small devices (phones, 576px and down) */
@media (max-width: 575.98px) {
  /* CSS styles for small devices */
  main {
    padding-left: 0px;
    padding-right: 0px;
  }
  main .welcome-cover {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    border-radius: 0px;
  }
  main .welcome-cover h1, main .welcome-cover h2 {
    max-width: 100%;
  }
  header {
    flex-wrap: wrap;
    row-gap: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  header nav ul {
    justify-content: flex-start;
    flex-grow: 0;
  }
  header nav ul li:first-child {
    margin-left: 0rem;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* CSS styles for medium devices */
  main {
    padding-left: 0px;
    padding-right: 0px;
  }
  main .welcome-cover {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    border-radius: 0px;
  }
  main .welcome-cover h1, main .welcome-cover h2 {
    max-width: 100%;
  }
  header {
    flex-wrap: wrap;
    row-gap: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  header nav ul {
    justify-content: flex-start;
    flex-grow: 0;
  }
  header nav ul li:first-child {
    margin-left: 0rem;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* CSS styles for large devices */
  :root {
    --container-padding: 4rem;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* CSS styles for extra large devices */
}
/* Extra extra large devices (larger desktops, 1400px and up) */
@media (min-width: 1200px) {
  /* CSS styles for extra extra large devices */
  :root {
    --container-padding: 6rem;
  }
}

/*# sourceMappingURL=style.css.map */
